.app-container {
  height: 100vh;
  overflow: visible;
}

.content {
  flex-grow: 1;
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  min-height: 100%;

  &-inner {
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
  }

  &-expanded {
    margin-left: 1rem;
  }

  background-color: #fff;
  background-image:
    linear-gradient(to right, #ddd 1px, transparent 1px),
    linear-gradient(to bottom, #ddd 1px, transparent 1px);
  background-size: 50px 50px;
}