.input {
  width: 84%;
  --mat-form-field-filled-container-color: var(--input-color);
  align-items: center;
  text-align: center;
}

.icon {
  margin-right: 0.2em;
}

.input-container{
  display: flex;
  justify-content: center;
}