HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/BroilerBackend/nbproject/private/
/BroilerBackend/nbbuild/
/BroilerBackend/dist/
/BroilerBackend/nbdist/
/BroilerBackend/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Ignore config due to Password
/BroilerBackend/src/main/resources/application.properties

# Compiled output
/BroilerFrontend/dist
/BroilerFrontend/tmp
/BroilerFrontend/out-tsc
/BroilerFrontend/bazel-out

# Node
/BroilerFrontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/BroilerFrontend/.angular/cache
.sass-cache/
/BroilerFrontend/connect.lock
/BroilerFrontend/coverage
/BroilerFrontend/libpeerconnection.log
testem.log
/BroilerFrontend/typings

# System files
.DS_Store
Thumbs.db