<td class="cell">
  <mat-dialog-content>
    <mat-form-field class="user-mat-field input">
      <mat-label>User:</mat-label>
      <mat-select [formControl]="userControl" class="user-mat-select">
        @for (user of users(); track $index) {
        <mat-option [value]="user"> {{ user.givenName }} {{ user.surname }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  @if (userError) {
  <div class="dialog-error">
    {{ userErrorMessage }}
  </div>
  }
</td>

<td class="cell">
  <div class="input-container">
    <mat-dialog-content>
      <div class="date-picker-container">
        <mat-form-field class="input">
          <mat-label>Purchased at:</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="purchasedAtControl"
            readonly
            (change)="disableErrors()"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    @if (dateError) {
    <div class="dialog-error">
      {{ dateErrorMessage }}
    </div>
    }
  </div>
</td>

<td class="cell">
  <div class="input-container">
    <mat-dialog-content>
      <mat-form-field class="input">
        <mat-label>Food Options:</mat-label>
        <mat-select [formControl]="foodOptionControl" multiple>
          @for (foodOption of foodOptions(); track $index) {
          <mat-option [value]="foodOption"> {{ foodOption }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    @if (typeError) {
    <div class="dialog-error">
      {{ typeErrorMessage }}
    </div>
    }
  </div>
</td>

<td class="cell">
  <mat-dialog-content class="checkbox">
    <mat-checkbox [(ngModel)]="paidControl" />
  </mat-dialog-content>
</td>

<td class="cell cell-price">
  <mat-dialog-content class="price-container">
    <div class="disabled-input-container disabled-input-container-price">
      <mat-form-field class="input">
        <input matInput [disabled]="true" />
      </mat-form-field>
    </div>
  </mat-dialog-content>
</td>

<td class="cell">
  <button matFab class="button button-save" (click)="onSave()">
    <mat-icon>save</mat-icon>
  </button>
  @if (!isNewPurchase()) {
  <button matFab class="button" (click)="exit()">
    <mat-icon>cancel</mat-icon></button
  >}
</td>
