.button {
  width: 4.2em;
  height: 4em;
  margin-bottom: 1em;
  background-color: #edc328;
  box-shadow: 1px 0 5px #b1abab;
  color: black;
}
.button-save {
  margin-right: 1em;
}

.input-row-container {
  display: flex;
}

.dialog-error {
  color: red;
}

.td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.cell {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.disabled-input-container-price {
  width: 50%;
  mat-form-field {
    width: 60%;
  }
}

.date-picker-container {
  mat-form-field {
    width: 75%;
  }
}
