<div>
  <h1 class="page-title">Broiler Purchases</h1>
  <table class="user-table" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="givenName">First Name:</th>
      <th mat-sort-header="surname">Last Name:</th>
      <th mat-sort-header="date">
        <app-date-range-filter
          [purchases]="purchases"
          (filteredPurchases)="applyDateRangeFilter($event)"
        ></app-date-range-filter>
      </th>
      <th mat-sort-header="products">Products:</th>
      <th mat-sort-header="paid">Paid:</th>
      <th mat-sort-header="price">Price:</th>
      <th mat-sort-header="actions">Actions:</th>
    </tr>

    <tr
      appEditPurchase
      [isNewPurchase]="true"
      [purchase]="emptyPurchase"
      [users]="users"
      [foodOptions]="foodOptions"
      (isExited)="onCancelEdit()"
      (isSaved)="initializePurchases()"
    ></tr>

    @for (purchase of filteredPurchases; track $index) { @if (currentlyEditingId ==
    purchase.purchaseId) {
    <tr
      appEditPurchase
      [isNewPurchase]="false"
      [purchase]="purchase"
      [users]="users"
      [foodOptions]="foodOptions"
      (isExited)="onCancelEdit()"
      (isSaved)="initializePurchases()"
    ></tr>
    } @else {
    <tr>
      <td>
        <div class="givenName-container">
          <div
            class="{{ purchase.paid ? 'paid-indicator-paid' : 'paid-indicator-not-paid' }}"
          ></div>
          {{ purchase.givenName }}
        </div>
      </td>
      <td>{{ purchase.surname }}</td>
      <td>{{ purchase.date }}</td>
      <td>
        @for (type of purchase.products; track $index) {
        <div>{{ type }}</div>
        }
      </td>
      <td>
        <mat-dialog-content class="checkbox">
          <mat-checkbox [checked]="purchase.paid" (change)="onPaidChange(purchase)" />
        </mat-dialog-content>
      </td>
      <td>{{ purchase.price }} €</td>
      <td>
        <mat-icon (click)="onEdit(purchase.purchaseId!)" class="edit-icon">edit</mat-icon>
      </td>
    </tr>
    } }
  </table>
</div>
