.user-table {
  background-color: var(--bg-color);
  border-collapse: collapse;
  font-size: medium;
  box-shadow: 1px 0 50px #b1abab;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 5%;
}

::ng-deep .mat-sort-header-arrow svg path {
  fill: var(--text-color);
  height: 100px;
  width: 100px;
}

.header-cell {
  color: var(--component-text-color);
  font-size: xx-large;
  font-weight: bold;
  padding: 0.5em 1em;
  width: 6.5em;
  text-align: center;
  align-items: center;
  background-color: var(--component-color);
  margin: 0.4em;
  border-radius: 10px;
  line-height: 1.2;
}

.header-cell-small {
  width: 3em;
}

.user-table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.user-table td:last-child {
  border-right: none;
}

.user-table td:first-child {
  width: 1em;
}

.edit-button {
  width: 40px;
  height: 40px;
  color: #000;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  align-content: center;
}

.user-mat-field {
  margin-top: 1em;
}

.paid-indicator-not-paid {
  height: 1em;
  width: 1em;
  background-color: red;
  margin-right: 1em;
}

.paid-indicator-paid {
  height: 1em;
  width: 1em;
  background-color: green;
  margin-right: 1em;
}

.givenName-container {
  display: flex;
}

.edit-icon {
  cursor: pointer;
  margin-left: 0.5em;
}

.mat-menu-container {
  padding: 1em;
  text-align: center;
}

.page-title {
  margin-left: 5%;
}