<div>
  <mat-card class="card">
    <header>
      <mat-icon class="icon">search</mat-icon>
    </header>

    <mat-dialog-content>
      <mat-form-field class="input">
        <mat-label>Type to Search ...</mat-label>
        <input matInput [(ngModel)]="searchContent" (input)="onSearch()" />
      </mat-form-field>
    </mat-dialog-content>

    <header>
      <mat-icon class="icon">filter_alt</mat-icon>
    </header>

    <app-date-picker-week
      #weekPicker
      (filteredListOutput)="onFilteredChange($event)"
      class="week-filter"
    ></app-date-picker-week>

    <app-date-picker-month
      #monthPicker
      (filteredListOutput)="onFilteredChange($event)"
      class="month-filter"
    ></app-date-picker-month>

    <app-date-picker-year
      #yearPicker
      (filteredListOutput)="onFilteredChange($event)"
      class="year-filter"
    ></app-date-picker-year>

    <div class="button-container">
      <button matButton class="clear-button" (click)="clearFilters()">
        Clear Search and Filters
      </button>
    </div>
  </mat-card>
</div>
