.user-table {
  background-color: #f4f6f7;;
  width: 100%;
  font-size: larger;
}

.add-product-button {
  background-color: #34495e;
  color: #f4f6f7;
  padding: 1rem;
}

.add-button-container {
  padding-bottom: 1rem;
}