.user-table {
  background-color: var(--bg-color);
  border-collapse: collapse;
  font-size: medium;
  box-shadow: 1px 0 50px #b1abab;
  border-radius: 10px;
  margin-top: 5em;
  margin-left: 15%;
}

::ng-deep .mat-sort-header-arrow svg path {
  height: 100px;
  width: 100px;
}

.user-table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.user-table td:last-child {
  border-right: none;
  width: 1em;
}

.header-cell{
  margin: 1rem;
  font-size: xx-large;
  font-weight: bold;
  color: var(--component-text-color);
  padding: 0.75em 3em;
  height: 1rem;
  align-items: center;
  background-color: var(--component-color);
  margin: 0.4em;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

.edit-button {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  align-content: center;
}

.page-title {
  margin-left: 15%;
}
