.product-table {
  background-color: var(--bg-color);
  border-collapse: collapse;
  font-size: clamp(0.85rem, 1vw + 0.5rem, 1.1rem);
  box-shadow: 1px 0 20px #797575;
  border-radius: 10px;
  width: 90%;
  margin-left: 5em;
  margin-top: 2em;
  min-width: 600px;
}

::ng-deep .mat-sort-header-arrow svg path {
  height: 100px;
  width: 100px;
}

.product-table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.product-table td:last-child {
  border-right: none;
  width: 1em;
}

.header-cell {
  color: var(--component-text-color);
  font-size: clamp(1rem, 1vw + 2rem, 1.5rem);
  font-weight: 600;
  padding: 0.4em 0.8em;
  margin-top: 1em;
  background-color: var(--component-color);
  border-radius: 8px;
  min-width: 4em;
  text-align: center;
}

.header-cell-first {
  margin-left: 1em;
}

.icon {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  align-content: center;
}

.page-title {
  margin-left: 15%;
}

.header-container {
  display: flex;
  width: 100%;
}

.add-product-button {
  margin-left: 62em;
  width: 10em;
  height: 4em;
  margin-bottom: 1em;
  background-color: var(--component-color);
  box-shadow: 1px 0 5px #b1abab;
  color: var(--component-text-color) !important;
}

.edit-icon {
  margin-right: 0.3em;
}
