<div class="user-formula-container">
  <h2 mat-dialog-title>New Product</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>New Price set at:</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="createdAtControl">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Food Options:</mat-label>
      <mat-select [formControl]="typeControl">
        @for (foodOption of foodOptions; track $index) {
          <mat-option [value]="foodOption"> {{foodOption.toString()}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>New Price:</mat-label>
      <input matInput [(ngModel)]="price"/>
    </mat-form-field>
  </mat-dialog-content>

  <div class="dialog-button-container">
    <mat-dialog-actions>
      <button matButton cdkFocusInitial (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <button matButton (click)="onAdd()" cdkFocusInitial>Add</button>
    </mat-dialog-actions>
  </div>
</div>
