<div class="user-formula-container">
  <h2 mat-dialog-title>New Product</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>New Price set at:</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="createdAtControl">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Product Type:</mat-label>
      <input matInput 
            [formControl]="type" 
            [matAutocomplete]="auto"
            type="text"
            aria-label="Food Option"
            >
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of productsOptions | async; track $index) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>New Price:</mat-label>
      <input matInput [(ngModel)]="price"/>
    </mat-form-field>
  </mat-dialog-content>

  @if (showError) {
    <div class="dialog-error">
      {{errorMessage}}
    </div>
  }

  <div class="dialog-button-container">
    <mat-dialog-actions>
      <button matButton="tonal" (click)="onCancel()" class="button">Cancel</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <button matButton="tonal" (click)="onAdd()" class="button">{{this.data.update ? "update" : "add"}}</button>
    </mat-dialog-actions>
  </div>
</div>
