.user-formula-container{
    padding: 1em
}

.dialog-button-container {
    display: flex;
}

.dialog-error {
    color: red; 
    margin: 1rem 1.5rem;
}

.button {
  color: #000 !important;
  background-color: #edc328 !important;
}