.dialog-button-container {
  display: flex;
}

.warning-dialog-container {
  padding: 1.5em;
  width: 35em;
  background-color: var(--bg-color) !important;
}

.button-cancel {
  color: white !important;
  background-color: #88a65e !important;
}

.button-proceed {
  color: white !important;
  background-color: #ca7261 !important;
}

h1 {
  line-height: 1.5 !important;
}
