.user-formula-container{
    padding: 1em
}

.dialog-button-container {
    display: flex;
}

.dialog-error {
    color: red; 
    margin: 1rem 1.5rem;
}

.checkbox {
    height: 5em;
}

.button {
  color: white !important;
  background-color: #34495e !important;
}