.card,
.add-purchase-card {
  background-color: var(--bg-color);
  box-shadow: 1px 0 20px #797575;
  margin-top: 3em;
}

.card {
  width: 97em;
  padding: 1em;
  margin-left: 7em;
}

.add-purchase-card {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  padding: 0 1em;
}

.card-container {
  display: flex;
}

.button-container {
  width: 100%;
  text-align: center;
}

.clear-button,
.add-button {
  background-color: var(--component-color);
  color: var(--component-text-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.clear-button {
  margin-top: 0.8em;
  padding: 1.2em 1.6em;
  gap: 0.6em;
}

.add-icon {
  margin-left: 0.4em !important;
}

.clear-icon {
  font-size: 1.3rem;
}

.button-text {
  display: inline;
}

.input {
  --mat-form-field-filled-container-color: var(--input-color);
  width: 100%;
}

.date-input {
  margin-right: 2em;
}

.input-short-text {
  display: none;
}

.month-filter,
.week-filter {
  margin-bottom: 1em;
}

.icon {
  margin-right: 0.2em;
}

.search-filter-container {
  display: flex;
  margin-top: 0.6em;
  gap: 4em;
}

.input-button-container {
  display: flex;
  margin-top: 0.6em;
}

.search-container {
  display: flex;
  width: 12em;
  margin-right: 3em;
  margin-top: 0.6em;
}

.search-input-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 2480px) {
  .button-text {
    display: none;
  }

  .card {
    width: 48em;
    height: 16em;
  }

  .date-input {
    width: 12em;
  }

  .input {
    width: 80%;
  }

  .clear-button,
  .add-button {
    height: 3.5em;
    width: 1em;
    min-width: 0;
    padding: 0;
    border-radius: 80%;
  }

  .clear-icon {
    font-size: 1.5rem;
    margin-left: 0.7em !important;
  }

  .input-long-text {
    display: none;
  }

  .input-short-text {
    display: inline;
  }

  .search-filter-container {
    display: inline;
    gap: 0;
  }

  .add-purchase-card {
    height: 5em;
    margin-top: 8em;
  }
}

@media (max-width: 1450px) {
  .button-text {
    display: none;
  }

  .date-input {
    width: 4.5em;
    margin-right: 1em;
  }

  .input {
    width: 30%;
  }

  .card {
    width: 22em;
  }

  .clear-button,
  .add-button {
    height: 3.5em;
    width: 1em;
    min-width: 0;
    padding: 0;
    border-radius: 80%;
  }

  .clear-icon {
    font-size: 1.5rem;
    margin-left: 0.7em !important;
  }

  .search-container {
    width: 5em;
    margin-right: 1em;
  }

  .input-long-text,
  .input-short-text {
    display: none;
  }

  .search-filter-container {
    gap: 0;
  }
}
