<div class="card-container">
  <mat-card class="card">
    <div class="search-filter-container">
      <div class="search-icon-container">
        <mat-dialog-content>
          <mat-form-field class="input">
            <mat-label
              ><div class="search-input-container">
                <mat-icon class="icon">search</mat-icon>Type to Search ...
              </div></mat-label
            >
            <input matInput [(ngModel)]="searchContent" (input)="onSearch()" />
          </mat-form-field>
        </mat-dialog-content>
      </div>

      <div class="input-button-container">
        <app-date-picker-week-purchases
          #weekPicker
          [purchases]="originalPurchases()"
          (filteredPurchases)="onFilter($event)"
          (filterIndicator)="clearOtherFilters($event)"
        ></app-date-picker-week-purchases>
        <app-date-picker-month-purchases
          #monthPicker
          [purchases]="originalPurchases()"
          (filteredPurchases)="onFilter($event)"
          (filterIndicator)="clearOtherFilters($event)"
        ></app-date-picker-month-purchases>
        <app-date-picker-year-purchases
          #yearPicker
          [purchases]="originalPurchases()"
          (filteredPurchases)="onFilter($event)"
          (filterIndicator)="clearOtherFilters($event)"
        ></app-date-picker-year-purchases>

        <div class="button-container">
          <button matButton class="clear-button" (click)="clearFilters()">
            Clear Search and Filters
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="add-purchase-card">
    <button matButton class="add-button" (click)="onAddNewPurchase()">Add New Purchase</button>
  </mat-card>
</div>
