<div class="dialog-container">
  <div class="input-container">
    <mat-dialog-content>
      <div class="date-picker-container">
        <mat-form-field class="input">
          <mat-label>New Price set at:</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="createdAtControl"
            (change)="disableErrors()"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    @if (dateError) {
    <div class="dialog-error">
      {{ dateErrorMessage }}
    </div>
    }
  </div>

  <div class="input-container">
    <mat-dialog-content>
      <mat-form-field class="input">
        <mat-label>Product Type:</mat-label>
        <input
          matInput
          [formControl]="type"
          [matAutocomplete]="auto"
          type="text"
          aria-label="Food Option"
          (change)="disableErrors()"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of productsOptions |async; track $index) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </mat-dialog-content>
    @if (typeError) {
    <div class="dialog-error">
      {{ typeErrorMessage }}
    </div>
    }
  </div>

  <div class="input-container">
    <mat-dialog-content>
      <mat-form-field class="input">
        <mat-label>New Price:</mat-label>
        <input matInput [(ngModel)]="price" (change)="disableErrors()" />
      </mat-form-field>
    </mat-dialog-content>
    @if (priceError) {
    <div class="dialog-error">
      {{ priceErrorMessage }}
    </div>
    }
  </div>

  <div class="button-container">
    <button matButton="elevated" class="button" (click)="exit()">Cancel</button>
    <button matButton="elevated" class="button button-save" (click)="onSave()">Save</button>
  </div>
</div>
