.user-table {
  background-color: #f4f6f7;;
  width: 100%;
  border-collapse: collapse;
  font-size: medium;
}

::ng-deep .mat-sort-header-arrow svg path{
    fill: white;
    height: 100px;
    width: 100px;
  }

::ng-deep .mat-sort-header-container {
  padding: 0.5em 0.5em;
  height: 1rem;
  align-items: center;
}


::ng-deep .mat-sort-header-content {
  color: #f4f6f7;
  font-size: xx-large;
  font-weight: bold;
}

.user-table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.user-table td:last-child {
  border-right: none;
}

::ng-deep .mat-sort-header {
  margin: 1rem;
  background-color: #34495e;
  color: #f4f6f7;
  font-size: xx-large;
}

.add-user-button {
  background-color: #34495e;
  color: #f4f6f7;
  padding: 1rem;
}

.add-button-container {
  padding-bottom: 1rem;
}

.edit-button {
  width: 32px;
  height: 32px;
  background-color: #34495e;
  color: white;
  box-shadow: none;
}

.edit-button mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}