.user-table {
  background-color: var(--bg-color);
  border-collapse: collapse;
  font-size: medium;
  box-shadow: 1px 0 20px #797575;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 15%;
}

::ng-deep .mat-sort-header-arrow svg path {
  height: 100px;
  width: 100px;
}

.header-cell {
  color: #000;
  font-size: xx-large;
  font-weight: bold;
  padding: 0.75em 1em;
  height: 1rem;
  align-items: center;
  background-color: var(--component-color);
  margin: 0.4em;
  border-radius: 10px;
}

.user-table tr {
  margin: 1em;
}

.user-table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.user-table th {
  border-bottom: 1px solid #ccc;
}

.edit-icon {
  cursor: pointer;
}

.dialog-error {
  color: red;
}

.page-title {
  margin-left: 15%;
}

.header-container {
  display: flex;
  width: 100%;
}

.add-user-button {
  margin-left: 37.5em;
  width: 10em;
  height: 4em;
  margin-bottom: 1em;
  background-color: var(--component-color);
  box-shadow: 1px 0 5px #b1abab;
  color: var(--component-text-color) !important;
}

