.user-table {
  background-color: #f4f6f7;
  border-collapse: collapse;
  font-size: medium;
  box-shadow: 1px 0 50px #b1abab;
  border-radius: 10px;
  margin-top: 5em;
  margin-left: 15%;
}

::ng-deep .mat-sort-header-arrow svg path {
  height: 100px;
  width: 100px;
}

.header-cell {
  color: #000;
  font-size: xx-large;
  font-weight: bold;
  padding: 0.75em 1em;
  height: 1rem;
  align-items: center;
  background-color: #edc328;
  margin: 0.4em;
  border-radius: 10px;
}

.user-table tr {
  margin: 1em;
}

.user-table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.user-table td:last-child {
  border-right: none;
  width: 1em;
}

.edit-icon {
  cursor: pointer;
}

.dialog-error {
  color: red;
}

.page-title {
  margin-left: 15%;
}
