.input {
  width: 100%;
  --mat-form-field-filled-container-color: var(--input-color);
}

.icon {
  margin-right: 0.2em;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input-long-text {
  display: inline;
}

.input-short-text {
  display: none;
}

@media (max-width: 2550px) {
  .input-long-text {
    display: none;
  }

  .input-short-text {
    display: inline;
  }
}

@media (max-width: 1450px) {
  .input-short-text {
    display: none;
  }
}
