<div>
  <mat-dialog-content>
    <div class="date-picker-container">
      <mat-form-field appearance="fill" class="input">
        <mat-label
          ><div class="input-container">
            <mat-icon class="icon">filter_alt</mat-icon>
            <span class="input-long-text">Filter by Week:</span>
            <span class="input-short-text">by Week:</span>
          </div></mat-label
        >
        <mat-date-range-input [rangePicker]="pickerWeek">
          <input
            matStartDate
            placeholder="Start Date"
            [formControl]="filterByWeekStartControl"
            (dateChange)="onWeekChange()"
            readonly
          />
          <input
            matEndDate
            placeholder="End date"
            [formControl]="filterByWeekEndControl"
            (dateChange)="onWeekChange()"
            readonly
          />
        </mat-date-range-input>
        <mat-hint class="input-short-text">DD/MM/YYYY - DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerWeek"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerWeek></mat-date-range-picker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
</div>
