.button {
  width: 4.2em;
  height: 4em;
  margin-bottom: 1em;
  background-color: var(--component-color);
  box-shadow: 1px 0 5px #b1abab;
  color: var(--component-text-color);
}
.button-save {
  margin-right: 1em;
}

.input-row-container {
  display: flex;
}

.dialog-error {
  color: red;
}

.td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.cell {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  align-items: center;
}

.date-picker-container {
  mat-form-field {
    width: 60%;
  }
}

.disabled-input-container {
  --mat-form-field-filled-disabled-container-color: var(--disabled-input-color);
}

.input {
  --mat-form-field-filled-container-color: var(--input-color);
}