<div>
  <mat-dialog-content>
    <div class="date-picker-container">
      <mat-form-field class="input">
        <mat-label>Filter by Year:</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" readonly />
        <mat-hint>YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (yearSelected)="setYear($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
</div>
