<td class="cell">
  <mat-dialog-content>
    <mat-form-field class="input">
      <mat-label>First Name:</mat-label>
      <input matInput [(ngModel)]="givenName" (change)="disableErrors()" />
    </mat-form-field>
  </mat-dialog-content>
  @if (givenNameError) {
  <div class="dialog-error">
    {{ givenNameErrorMessage }}
  </div>
  }
</td>
<td class="cell">
  <mat-dialog-content>
    <mat-form-field class="input">
      <mat-label>Last Name:</mat-label>
      <input matInput [(ngModel)]="surname" (change)="disableErrors()" />
    </mat-form-field>
  </mat-dialog-content>
  @if (surnameError) {
  <div class="dialog-error">
    {{ surnameErrorMessage }}
  </div>
  }
</td>
<td class="cell">
  <button matFab class="button button-save" (click)="onSave()">
    <mat-icon>save</mat-icon>
  </button>
  @if (!this.isNewUser()) {
  <button matFab class="button" (click)="exit()">
    <mat-icon>cancel</mat-icon>
  </button>
  }
</td>
