<div class="date-picker-container">
  <mat-dialog-content>
    <div>
      <mat-form-field class="input">
        <mat-label
          ><div class="input-contaier">
            <mat-icon class="icon">filter_alt</mat-icon>
            <span class="input-long-text">Filter by Month:</span> 
            <span class="input-short-text">by Month</span>
          </div></mat-label
        >
        <input matInput [matDatepicker]="dp" [formControl]="date" readonly />
        <mat-hint class="input-short-text">MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
</div>
