.leaderboard-table {
  background-color: var(--bg-color);
  border-collapse: separate;
  border-spacing: 0;
  font-size: medium;
  margin-top: 1em;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0 20px #797575;
  margin-left: 10em;
}

.leaderboard-container {
  width: 80%;
}

.mat-mdc-header-cell {
  font-size: xx-large;
  font-weight: bold;
  line-height: 120%;
  border-bottom: none;
}

.header-cell {
  padding: 0.5em 1em;
  background-color: var(--component-color);
  border-radius: 10px;
  margin: 0.15em;
  color: var(--component-text-color);
  text-align: center;
  align-content: center;
}

.mat-mdc-cell {
  border-bottom: 1px solid #ccc;
}

.content-container {
  display: flex;
  align-items: flex-start;
}

.title {
  margin-left: 6em;
  margin-bottom: 2em;
}
