.leaderboard-table {
  background-color: var(--bg-color);
  border-collapse: collapse;
  font-size: clamp(0.85rem, 1vw + 0.5rem, 1.1rem);
  border-radius: 10px;
  width: 90%;
  margin-left: 1em;
  min-width: 600px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0 20px #797575;
  margin-left: 10em;
}

.mat-mdc-header-cell {
  font-size: xx-large;
  font-weight: bold;
  line-height: 120%;
  border-bottom: none;
}

.header-cell {
  color: var(--component-text-color);
  font-size: clamp(1rem, 1vw + 2rem, 1.5rem);
  font-weight: 600;
  padding: 0.4em 0.8em;
  margin-top: 1em;
  background-color: var(--component-color);
  border-radius: 8px;
  min-width: 4em;
  text-align: center;
}

.header-cell-first {
  width: 5em;
}

.mat-mdc-cell {
  border-bottom: 1px solid #ccc;
}

.content-container {
  display: flex;
  align-items: flex-start;
}

.title {
  margin-left: 6em;
  margin-bottom: 2em;
}
